/target
/hook_lens/data
/hook_lens/data_in_sql_lite
/hook_lens/data2
/hook_lens/squares
/hook_lens/tmp
/hook_lens/test_images
/.vscode
/hook_lens/hook_lens_data
/hook_lens/hook_lens_models
/hook_lens/images_for_real_life_test/
/rough_guard/data_in_sql_lite/
/rough_guard/rough_guard_models/
